<a href="https://colab.research.google.com/github/FreakyOne700/Python-Basics-DSA/blob/main/Basics/SetOperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic Set Operations in Python**

---

#Creating Python Set using { }

Syntax => set = {E1,E2......,En} E = element (not include mutables)

In [4]:
set1 = {1,2,3,4,"hello",}
set1

{1, 2, 3, 4, 'hello'}

When creating empty set ,using set constructor as { } produces empty **dictionary**

In [5]:
seta = {}
setb = set()
type(seta),type(setb)

(dict, set)

#Creating Python Set with Set Constructor

Syntax => set = set(iterable) iterable = list,tuples etc

In [6]:
set2 = "hello" #string
set3 =set(set2)
type(set2),type(set3) #set2 = String | set3 = set (after using constructor)

(str, set)

#Creating Python Set with Set Comprehension

Syntax => set = {*comprehension statement*}

In [7]:
set4 = {x for x in range(1,11)}
set4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
set5 = {x for x in range(1,20) if x%2== 0}
set5

{2, 4, 6, 8, 10, 12, 14, 16, 18}

#Removing Elements from Set
Using remove function


Syntax => set.remove(target **element**)

In [9]:
set5.remove(4) #Returns error if element not in set
set5

{2, 6, 8, 10, 12, 14, 16, 18}

Using discard function

Syntax => set5.remove(target **element**)

In [10]:
set5.discard(5) #Doesnt return error if element not in set
set5

{2, 6, 8, 10, 12, 14, 16, 18}

#Adding elements to set

Add an element in set using *add* function

Syntax => set.add(*element*) #Only one argument

In [11]:
set5.add(9) #Add and sort
set5

{2, 6, 8, 9, 10, 12, 14, 16, 18}

#Union

Union (|): Returns a new set containing all elements from both sets.

In [12]:
set1 = {1,2,3,}
set2 = {1,2,3,4,5}
set_union = set1 | set2
set_union

{1, 2, 3, 4, 5}

#Symmetric Difference

Symmetric Difference (^): Returns a new set containing elements that are in either set but not in both.

In [13]:
set1.add(6)
symmetric_diff_set = set1 ^ set2
symmetric_diff_set

{4, 5, 6}

#Intersection

Intersection (&): Returns a new set containing elements present in both sets.

In [14]:
intersection_Set = set1 & set2
intersection_Set

{1, 2, 3}

#Difference

Difference (-): Returns a new set containing elements in the first set but not in the second.

In [15]:
diff_Set = set1 - set2
print(set1,set2,sep = "\n")
diff_Set

{1, 2, 3, 6}
{1, 2, 3, 4, 5}

{6}

#Subset

issubset(other_set): Checks if all elements in the first set are also in the second set. Returns True if it's a subset, False otherwise.

In [16]:
set1.issubset(set2)

False

In [17]:
set3 = {1,2,3}
set3.issubset(set2)

True

#Superset

issuperset(other_set): Checks if the first set contains all elements of the second set. Returns True if it's a superset, False otherwise.

In [18]:
set2.issuperset(set3)

True

In [19]:
set1 = set([1,2,3,4,5,6,7,8])
set1.issuperset(set3)

True

#Disjoint

isdisjoint(other_set): Checks if the sets have no common elements. Returns True if they are disjoint, False otherwise.

In [22]:
set_1 = {1,2,3,4,5}
set_2 = {6,7,8,9,10}
set_1.isdisjoint(set_2)

True